body{
  overflow-y: scroll
}

input {
  overflow-x: auto!important
}

.schedule-item{
    background-color: lightsalmon;
    cursor: pointer;
}

.tooLate {
    opacity: 1;
}

.bus-emoji {
    font-size: min(10vw, 80px);
}

.my-header {
  background: rgb(32,32,32);
  background: linear-gradient(180deg, rgba(32,32,32,1) 0%, rgba(61,61,89,0.9626225490196079) 12%, rgba(255,255,255,1) 100%);
      }


.swap-dep-dest {
    background: white;
    vertical-align:sub;
    font-size: 25px;
    padding:  5px;
    margin-left: 5px;
    margin-right: 5px;
}

.swap-dep-dest>svg {

    width: 35px;
    height: 35px;
    
}



.active  {
  text-shadow: 0 0 1px white, 0 0 1px white; 
}


.dropdown-navbar button{
    background: green;
    width:300px;
}


/* animation swap sides */

.flip-animation {
    transition: transform 0.2s ease-out; /* Define transition for the transform property */
  }
  
  .flipped {
    transform: scaleX(-1); /* Flip horizontally */
  }
/* animation for Line table expand collapse chevron */
  .fa-chevron-down{
    transition: transform 0.3s ease;
  }

  .expand-up {
    transform: scaleY(-1); /* Flip horizontally */
  }


/*  ----    table actions   ----*/



.table-action-td {
    display: flex;
    justify-content: space-around;
}

.table-action-td>svg {
    cursor: pointer;
}


.my-hover-effect:hover {
    background-color: #e9e9e9;
    transition: 0.1s ease-in;
  }


.my-cursor-pointer {
    cursor: pointer;
}

.my-active-scale-down:active {
    transform: scale(0.95); /* Scale down the link */
}

/*not used anymore on OG planned page*/
.my-active-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8); /* Subtle box shadow */
}


/*=========Moves down by 50% of one table row=========*/
/*First use for bus stop table, to move "distance" between two rows, between two stops*/
.vertical-center {
  position: relative;
  transform: translateY(50%);
}

/*------------*/

.my-no-color-background {
  background-color: transparent;
}

.my-no-color-background td, .my-no-color-background th  {
  background-color: transparent;
}

/*----------------*/
.route-variations .active {
  background: #495057;
  color: white;
}

/* schedules > schedulePickTable*/
.my-schedule-picker-faded {
  background: #a8a8a8;
}


.my-active .my-schedule-picker-faded {
  background: #c9e4ff;
  color: black!important;
}

.my-valid-border {
  border: 2px dashed red;
}

/* datepicker overwriting -  align-items: center, with center, top bar keeps shifting up n down */
.react-datepicker__portal {
  align-items: start;
  padding-top: 10%;
}

/*Yearly rules menu active element - selection*/

.my-yearly-rules .active {
  background: grey;
}

.my-yearly-rules .my-valid-border {
  border: 2px dashed red!important;
}

/* Schedules by rule id */
.my-150px-span {
  width: 150px;
}

/*single trip arrow direction indicator cell*/
.my-arrow-background {
  /* background-image: url("data:image/svg+xml,%3Csvg fill='%238f8f8f' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='199px' height='199px' viewBox='-40.77 -40.77 489.22 489.22' xml:space='preserve' stroke='%238f8f8f' transform='rotate(90)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='14.676300000000001'%3E %3Cg%3E %3Cg%3E %3Cpath d='M164.684,348.361c-3.456,0-6.817-1.794-8.669-5.002c-2.762-4.782-1.122-10.897,3.66-13.659l218-125.863l-218-125.862 c-4.783-2.761-6.422-8.877-3.66-13.66c2.761-4.783,8.878-6.421,13.66-3.66l233,134.522c3.094,1.786,5,5.087,5,8.66 c0,3.573-1.906,6.874-5,8.66l-233,134.522C168.1,347.929,166.38,348.361,164.684,348.361z'%3E%3C/path%3E %3C/g%3E %3Cg%3E %3Cpath d='M10.012,348.361c-3.456,0-6.817-1.794-8.67-5.002c-2.762-4.782-1.122-10.897,3.66-13.659l218-125.863l-218-125.862 c-4.783-2.761-6.422-8.877-3.66-13.66c2.762-4.783,8.879-6.421,13.66-3.66l233,134.522c3.094,1.786,5,5.087,5,8.66 c0,3.573-1.906,6.874-5,8.66l-233,134.522C13.428,347.929,11.709,348.361,10.012,348.361z'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E %3Cg%3E %3Cg%3E %3Cpath d='M164.684,348.361c-3.456,0-6.817-1.794-8.669-5.002c-2.762-4.782-1.122-10.897,3.66-13.659l218-125.863l-218-125.862 c-4.783-2.761-6.422-8.877-3.66-13.66c2.761-4.783,8.878-6.421,13.66-3.66l233,134.522c3.094,1.786,5,5.087,5,8.66 c0,3.573-1.906,6.874-5,8.66l-233,134.522C168.1,347.929,166.38,348.361,164.684,348.361z'%3E%3C/path%3E %3C/g%3E %3Cg%3E %3Cpath d='M10.012,348.361c-3.456,0-6.817-1.794-8.67-5.002c-2.762-4.782-1.122-10.897,3.66-13.659l218-125.863l-218-125.862 c-4.783-2.761-6.422-8.877-3.66-13.66c2.762-4.783,8.879-6.421,13.66-3.66l233,134.522c3.094,1.786,5,5.087,5,8.66 c0,3.573-1.906,6.874-5,8.66l-233,134.522C13.428,347.929,11.709,348.361,10.012,348.361z'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E%3C/svg%3E"), 
                    url("data:image/svg+xml,%3Csvg fill='%238f8f8f' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='199px' height='199px' viewBox='-40.77 -40.77 489.22 489.22' xml:space='preserve' stroke='%238f8f8f' transform='rotate(270)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='14.676300000000001'%3E %3Cg%3E %3Cg%3E %3Cpath d='M164.684,348.361c-3.456,0-6.817-1.794-8.669-5.002c-2.762-4.782-1.122-10.897,3.66-13.659l218-125.863l-218-125.862 c-4.783-2.761-6.422-8.877-3.66-13.66c2.761-4.783,8.878-6.421,13.66-3.66l233,134.522c3.094,1.786,5,5.087,5,8.66 c0,3.573-1.906,6.874-5,8.66l-233,134.522C168.1,347.929,166.38,348.361,164.684,348.361z'%3E%3C/path%3E %3C/g%3E %3Cg%3E %3Cpath d='M10.012,348.361c-3.456,0-6.817-1.794-8.67-5.002c-2.762-4.782-1.122-10.897,3.66-13.659l218-125.863l-218-125.862 c-4.783-2.761-6.422-8.877-3.66-13.66c2.762-4.783,8.879-6.421,13.66-3.66l233,134.522c3.094,1.786,5,5.087,5,8.66 c0,3.573-1.906,6.874-5,8.66l-233,134.522C13.428,347.929,11.709,348.361,10.012,348.361z'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E %3Cg%3E %3Cg%3E %3Cpath d='M164.684,348.361c-3.456,0-6.817-1.794-8.669-5.002c-2.762-4.782-1.122-10.897,3.66-13.659l218-125.863l-218-125.862 c-4.783-2.761-6.422-8.877-3.66-13.66c2.761-4.783,8.878-6.421,13.66-3.66l233,134.522c3.094,1.786,5,5.087,5,8.66 c0,3.573-1.906,6.874-5,8.66l-233,134.522C168.1,347.929,166.38,348.361,164.684,348.361z'%3E%3C/path%3E %3C/g%3E %3Cg%3E %3Cpath d='M10.012,348.361c-3.456,0-6.817-1.794-8.67-5.002c-2.762-4.782-1.122-10.897,3.66-13.659l218-125.863l-218-125.862 c-4.783-2.761-6.422-8.877-3.66-13.66c2.762-4.783,8.879-6.421,13.66-3.66l233,134.522c3.094,1.786,5,5.087,5,8.66 c0,3.573-1.906,6.874-5,8.66l-233,134.522C13.428,347.929,11.709,348.361,10.012,348.361z'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E%3C/svg%3E"); */
  /* background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24.00 24.00' fill='none' xmlns='http://www.w3.org/2000/svg' transform='rotate(0)' stroke='%23000000' stroke-width='0.00024000000000000003'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M5.08884 12.7055C5.26942 12.2784 5.69482 12 6.16669 12H9V5C9 4.44772 9.44772 4 10 4H14C14.5523 4 15 4.44771 15 5V12H17.8333C18.3052 12 18.7306 12.2784 18.9112 12.7055C19.0917 13.1326 18.9919 13.6241 18.6583 13.951L12.825 19.6653C12.3693 20.1116 11.6307 20.1116 11.175 19.6653L5.34174 13.951C5.00808 13.6241 4.90826 13.1326 5.08884 12.7055Z' fill='%239e9e9e'/%3E%3C/g%3E%3C/svg%3E"),
  url("data:image/svg+xml,%3Csvg viewBox='0 0 24.00 24.00' fill='none' xmlns='http://www.w3.org/2000/svg' transform='rotate(180)' stroke='%23000000' stroke-width='0.00024000000000000003'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M5.08884 12.7055C5.26942 12.2784 5.69482 12 6.16669 12H9V5C9 4.44772 9.44772 4 10 4H14C14.5523 4 15 4.44771 15 5V12H17.8333C18.3052 12 18.7306 12.2784 18.9112 12.7055C19.0917 13.1326 18.9919 13.6241 18.6583 13.951L12.825 19.6653C12.3693 20.1116 11.6307 20.1116 11.175 19.6653L5.34174 13.951C5.00808 13.6241 4.90826 13.1326 5.08884 12.7055Z' fill='%239e9e9e'/%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url("data:image/svg+xml,%3Csvg fill='%23c7c7c7' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='-12.4 -12.4 148.77 148.77' xml:space='preserve' stroke='%23c7c7c7' stroke-width='0.0012397' transform='rotate(0)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M51.802,96.062c2.801,2.801,6.5,4.2,10.2,4.2s7.4-1.399,10.2-4.2l47.3-47.3c5.5-5.5,6.101-14.6,0.8-20.3 c-5.6-6.1-15.1-6.3-20.899-0.5l-30.4,30.3c-3.899,3.9-10.2,3.9-14.1,0l-30.3-30.3c-5.801-5.8-15.301-5.7-20.9,0.5 c-5.3,5.7-4.8,14.8,0.8,20.3L51.802,96.062z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
                    url("data:image/svg+xml,%3Csvg fill='%23c7c7c7' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='-12.4 -12.4 148.77 148.77' xml:space='preserve' stroke='%23c7c7c7' stroke-width='0.0012397' transform='rotate(180)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M51.802,96.062c2.801,2.801,6.5,4.2,10.2,4.2s7.4-1.399,10.2-4.2l47.3-47.3c5.5-5.5,6.101-14.6,0.8-20.3 c-5.6-6.1-15.1-6.3-20.899-0.5l-30.4,30.3c-3.899,3.9-10.2,3.9-14.1,0l-30.3-30.3c-5.801-5.8-15.301-5.7-20.9,0.5 c-5.3,5.7-4.8,14.8,0.8,20.3L51.802,96.062z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  
  background-size: 20px 80px, 20px 80px;
  background-repeat: repeat-y;
  background-position: left 0, right 0;
  
}

.my-arrow-background2 {
 
  background-image: url("data:image/svg+xml,%3Csvg fill='%23c7c7c7' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='-12.4 -12.4 148.77 148.77' xml:space='preserve' stroke='%23c7c7c7' stroke-width='0.0012397' transform='rotate(180)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M51.802,96.062c2.801,2.801,6.5,4.2,10.2,4.2s7.4-1.399,10.2-4.2l47.3-47.3c5.5-5.5,6.101-14.6,0.8-20.3 c-5.6-6.1-15.1-6.3-20.899-0.5l-30.4,30.3c-3.899,3.9-10.2,3.9-14.1,0l-30.3-30.3c-5.801-5.8-15.301-5.7-20.9,0.5 c-5.3,5.7-4.8,14.8,0.8,20.3L51.802,96.062z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  border: 0;
  position: relative;
  transform: translateY(50%);
}


.table.my-arrow-background td {
  background: none;
  text-align: center;

}

.table.my-arrow-background td:first-child, .table.my-arrow-background td:last-child {
  width: 50px;
  border: none;
}

/* my grid for trip */


.mygrid-menu { grid-area: menu; }
.mygrid-info { grid-area: info; }
.mygrid-list { grid-area: list; }


@media (min-width: 768px) {
  .mygrid-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0fr auto; 
    gap: 2em 2em;
    grid-template-areas: 
      "menu list"
      "info list"; 
  }}

/* Bus stop list arrows and bubbles */


.busStopList * {
  box-sizing: border-box;
}


.busStopList ol {
padding:0;
display: flex;
flex-direction: column;
}

.busStopList li {
position: relative;
display: flex;
align-items: center;
margin: 8px 0;

}



.busStopList .ind-num {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 25px;
height: 25px;
margin-right: 5px;
border-radius: 50%;
border: 1px solid #19198f;
color: #19198f;
background: white;
}

.busStopList li:not(:last-of-type) .ind-num::before {
content: '';
position: absolute;
bottom: -40%;
height: 40%;
width: 8px;
background: #19198f;
clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
}

.busStopList li:not(:first-of-type) .ind-num::after {
content: '';
position: absolute;
top: -45%;
height: 45%;
width: 8px;
clip-path: polygon(0 0, 50% 40%, 100% 0, 100% 100%, 0 100%);
background: #19198f;
z-index: -12;
}


/* no wrap ends with ellipsis ... on large screen for show some bus stops on line page */
.my-ellipsis {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}